@(message: String)

<table border=1>
    <tr>
        <td style="width:600px">Magnetic storage and magnetic recording have been widely used to store information.
            They use different patterns of magnetization in a magnetic material to
            record data and its recorded data is non-volatile. Nowadays, massive data and information
            are stored in the currently primary magnetic storage media, the hard disk,
            which is a rigid rapidly rotating platter. This platter (or disc) is divided into many
            small magnetic regions which have mostly uniform magnetizations. Based on different
            recording technologies, the direction of these magnetizations can be in-plane
            or out-of-plane. Currently, two magnetic recording methods are used in hard-drive
            disk industry. One is longitudinal recording, and the other is perpendicular recording.
            Compared with perpendicular recording, longitudinal recording is relatively
            old technology which utilizes the fringing magnetic field to magnetize the magnetic
            regions such that their magnetization directions are parallel to the disk surface. For
            the past few years, the orientation of magnetizations was changed to perpendicular
            to the disk surface, and consequently allows the disks to have higher magnetic
            recording density. However, the increase of storage density in hard disk drives is still
            in demand. Therefore, more and more technologies have been studied and developed
            to achieve this goal, and some bottlenecks need to be overcome. On the recording
            material side, as the storage density continues to increase, magnetic grains of the
            recording layer become superparamagnetic and their magnetic state thermally unstable
            [69]. This causes the reliability issue of the recording data in the hard disk
            drives. To tackle this issue, one can use high magnetic anisotropy (ku) materials as
            a recording layer to maintain the thermal stability of magnetic domains. Materials
            like L10 FePt can support grains of about 2 to 3 nm in diameter [70], and storage
            densities are up to 155 Pb/m2 [71]. However, this means that it will require a magnetic
            field beyond what can be supplied by a traditional hard disk recording head to
            switch the magnetizations in the high magnetic anisotropy materials. The solution
            is to heat the recording media temporarily and locally to reduce its coercivity during
            the writing process. This is so-called heat-assisted magnetic recording (HAMR),
            which is currently a focus of considerable research and technological interest in high
            density magnetic data storage ([72]-[77]). In HAMR, the recording layer is optically
            heated to reduce the coercivity of the media by using a powerful localized light
            source. This reveals that one of the main issues of high-density HAMR is to develop
            the optical sources with nanometer resolution and high intensity. Storage density on
            the order of 1 Tb/in.2 requires an optical spot of about 25 nm×25 nm [78]. Optical
            energy must be delivered and confined to a spot much smaller than the diffraction
            limit to avoid collateral heating of adjacent recorded bits. It has been realized that
            plasmon resonances in metallic nanostructures hold unique promise for the development
            of such optical sources provided these nanostructures are properly designed.</td>
    </tr>
    <tr>
        <td><a href="http://www.eetasia.com/ART_8800478020_499486_NT_d3be0800.HTM"><img src="@routes.Assets.at("images/Schematic_HAMR.png")" width="100%"  border="0" vspace="0" /></a></td>
    </tr>
</table>

