@(message: String)

@main("Welcome to Ling Hung's Webpage") {

    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/ticker-style.css")'  />
    <!--<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/tickerstyle.css")'  />-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.ticker.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/site.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.cycle2.min.js")" ></script>
    <script type="text/javascript">
            $(function () {
                $('#js-news').ticker();
                $('#my_div').cycle({
                    fx:    'fade',
                    speed:  2500
                });
            });
    </script>
    <style>
        ul {
            margin:0;
            padding:0;
            border:0;
            outline:0;
            font-size:100%;
            vertical-align:baseline;
            background:transparent;
        }
        #my_div {
            width:auto; margin-left:160px;
        }
        #spaceholder {
            height:350px;
        }
    </style>
    <div id="content">
        <ul id="js-news" class="js-hidden">
            <li class="news-item"><a href="#">Dr. Hung's wife Xiaoshu has been pregnant for 21 weeks!</a></li>
            <li class="news-item"><a href="#">Dr. Hung has been published a paper in <em>Physical Review B.</em></a></li>
            <li class="news-item"><a href="#">Congratulations to Dr. Hung's new position in XappMedia as principal software developer!</a></li>
            <li class="news-item"><a href="#">Dr. Hung's paper has been accepted for publication in Jounral Applied Physics.</a></li>
        </ul>
        <div id="my_div" align="center">
            <img src="@routes.Assets.at("images/P1010530.jpg")" class="theLogo"  />
            <img src="@routes.Assets.at("images/P1010484.jpg")" class="theLogo" />
            <img src="@routes.Assets.at("images/VancouverConferences.jpg")" class="theLogo" />
            <img src="@routes.Assets.at("images/Chicago.jpg")" class="theLogo" />
        </div>
        <div id="spaceholder"></div>
        <br>
        <p> I am a Ph.D. candidate in the <a href="http://www.ece.umd.edu/">Department of ECE</a> at <a href="http://www.umd.edu/">University of Maryland, College Park</a>. I am working under the supervision of <a href="http://www.cspl.umd.edu/kjrliu/">Prof. Isaak D. Mayergoyz</a> in the <a href="http://sig.umd.edu/">Magnetic Lab</a> at University of Maryland, College Park since 2009. I received M.S. and B.S. degrees in Electrical Engineering from <a href="http://www.ntu.edu.tw/">National Taiwan University</a>, Taipei, Taiwan.</p>
        <p> My PhD research interest focuses on plasmon resonances in metallic nanoparticles and their applications.</p>
    </div>
}
