@main("Ling's Research") {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tools.min.js")"></script>
    <script>
        $(function() {
            $("ul.tabs").tabs("div.panes > div");
        });
    </script>
    <style>
        /*body {*/
            /*padding:50px 80px;*/
            /*font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana;*/
            /*font: "Times New Roman";*/
        /*}*/

            /* get rid of those system borders being generated for A tags */
        a:active {
            outline:none;
        }

        :focus {
            -moz-outline-style:none;
        }
            /* root element for tabs  */
        ul.tabs {
            list-style:none;
            /*margin:0 !important;*/
            margin-left: 200px;
            margin-top: 0px;
            padding:0;
            border-bottom:1px solid #666;
            height:30px;
        }

             /*single tab */
        ul.tabs li {
            float:left;
            text-indent:0;
            padding:0;
            margin:0 !important;
            list-style-image:none !important;
        }

            /* link inside the tab. uses a background image */
        ul.tabs a {
            background: url("@routes.Assets.at("images/blue.png")") no-repeat -420px 0;
            font-size:14px;
            display:block;
            height: 30px;
            line-height:30px;
            width: 134px;
            text-align:center;
            text-decoration:none;
            color:#333;
            padding:0px;
            margin:0px;
            position:relative;
            top:20px;
        }

        ul.tabs a:active {
            outline:none;
        }

            /* when mouse enters the tab move the background image */
        ul.tabs a:hover {
            background-position: -420px -31px;
            color:#fff;
        }

            /* active tab uses a class name "current". its highlight is also done by moving the background image. */
        ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
            background-position: -420px -62px;
            cursor:default !important;
            color:#000 !important;
        }

            /* Different widths for tabs: use a class name: w1, w2, w3 or w2 */

            /* width 1 */
        ul.tabs a.s { background-position: -553px 0; width:81px; }
        ul.tabs a.s:hover { background-position: -553px -31px; }
        ul.tabs a.s.current  { background-position: -553px -62px; }

            /* width 2 */
        ul.tabs a.l { background-position: -248px -0px; width:174px; }
        ul.tabs a.l:hover { background-position: -248px -31px; }
        ul.tabs a.l.current { background-position: -248px -62px; }

            /* width 3 */
        ul.tabs a.xl { background-position: 0 -0px; width:248px; }
        ul.tabs a.xl:hover { background-position: 0 -31px; }
        ul.tabs a.xl.current { background-position: 0 -62px; }

            /* initially all panes are hidden */
        .panes .pane {
            display:none;
        }
        .panes div {
            display:none;
            margin-left: 170px;
            padding:15px 10px;
            border:1px solid #999;
            border-top:0px;
            height:auto;
            font-size:14px;
            background-color:#fff;
        }
    </style>
    <div>
        <ul class="tabs">
            <li><a href="#tabs-1">HAMR</a></li>
            <li><a href="#tabs-2">SERS</a></li>
            <li><a href="#tabs-3">AOMR</a></li>
            <li><a href="#tabs-4">RadCor</a></li>
        </ul>
        <div class="panes">
            <div id="tabs-1">@HAMR("HAMR")</div>
            <div id="tabs-2">@SERS("SERS")</div>
            <div id="tabs-3">@AOMR("AOMR")</div>
            <div id="tabs-4">@Radiation("Radiation Correction")</div>
        </div>
    </div>
}
